/* Base Styles */
body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header Styles */
header {
  background-color: #2ecc71;
  color: #000;
  padding: 100px;
  text-align: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  color: #454444;
  text-align: center;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 18px; }
h4 { white-space: pre-line; }

/* Main Content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Links */
a {
  color: #2ecc71;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

/* Images */
img {
  width: 95%;
  border-radius: 3px;
}

/* Horizontal Rule */
hr {
  width: 800px;
  height: 4px;
  background-color: #BBB;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin: 20px auto;
}

/* Table Container */
.tableFixHead {
  overflow-y: auto;
  max-height: 500px;
  width: 95%;
  margin: auto;
  text-align: center;
}

/* Table Styles */
table {
  width: 800px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-collapse: separate; /* This creates space between cells */
  border-spacing: 2px; /* Adjust this value for more/less space */
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1000;
}

th, td {
  text-align: center;
  padding: 2px;
  height: 4px;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
}

td {
  background-color: #fff;
}

th {
  background-color: #18aa9d;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 18px;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Tooltip Styles */
td.tooltip {
  position: relative;
}

td.tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1001;
}

h3.tooltip {
  position: relative;
  display: inline-block;
}

span.tooltip-text {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  top: -30px;
  left: 100%;
  z-index: 1011;
  transform: translateX(-50%);
}

h3.tooltip:hover span.tooltip-text {
  display: block;
}
/* Add these to styles.css */

/* Image container styles */
.image-container {
  overflow: hidden;
  max-height: 700px;
}

/* Image styles */
img[alt=""] {
  width: 60%;
  border: 2px solid #959494;
  min-width: 700px;
}

/* Tooltip warning styles */
.tooltip-warning {
  background-color: #FFC5C5;
  width: 10px;
  height: 5px;
}

/* Red header styles */
.red-header {
  color: #C80000;
}
/* Add this to your existing styles.css */

/* Tooltip warning cells */
td.tooltip-warning {
  background-color: #FFC5C5 !important;
}
